.cabecalho {
    font-size: 15.8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 70px;
    margin: -10px -10px;
    padding: 4px;
}

.cabecalho .logo {
    margin-top: 5px;
    margin-left: 12px;
    padding: 10px;
}
.menu {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0px -180px;
}

.cabecalho .botao {
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 45px;
    margin-right: 25px;
    background: #8aed95;
    color: white;
    border: none;
}

.cabecalho a {
    background-color: rgb(255, 255, 255);
    height: 80px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 600px;
    width: 100%;
    margin: -10px -6px;
    background-color: white;
    padding: 1px;
    margin-left: -8px;
    height: 280px;
}

.newsletter .h1 {
    font-size: 28px;
    letter-spacing: 0.5px;
    font-weight: 550;
    margin-top: 40px;
    margin-left: 25px;
}

.newsletter .h3 {
    font-weight: medium;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 25px;
}

.newsletter .p {
    margin-top: 0px;
    margin-left: 25px;
}

.newsletter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.newsletter .botao {
    border-radius: 10px;
    padding: 10px 35px;
    background: #8aed95;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
}

.newsletter #email {
    border-color: #8aed95;
    border-radius: 10px;
    padding: 9px;
    font-size: 15px;
}

body {
    background-image: url(#{request.contextPath}/resource['/banner_fogueteFinal.jpg']);
    background-repeat: no-repeat;
}

.rodape {
    display: flex;
    position: absolute;
    top: 900px;
    width: 95%;
    background: linear-gradient(#3c5f72, #223641);
    padding: 30px;
    margin-left: -10px;
    padding-right: 41px;
}

.rodape #copy {
    display: flex;
    position: absolute;
    top: 150px;
}

.rodape #linha {
    display: flex;
    position: absolute;
    top: 140px;
    text-align: center;
    margin-left: 40px;
    width: 1000px;
    height: 0px;
}

.rodape, li, a {
    text-decoration: none;
    list-style: none;
}

